* { margin: 0; padding: 0;}

body { background-color: #000}

#kr {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #111;
    border-radius: 3%;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    background-color: #000;
}

#projects {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #111;
    border-radius: 3%;
    font-family: 'Courier new', 'Courier', 'trebuchet ms', arial, sans-serif;
    color: #BBB;
    overflow: hidden;
}

#footer {
    padding-top: 10px;
    text-align: right;
    font-weight: normal;
    font-size: 15px;
    color: #999;
    margin: 15px;
    font-style: italic;
}

#pauseToggle {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 30px;
    opacity: 0.5;

    border-color: transparent transparent transparent #000;
    transition: 450ms all ease;
    cursor: pointer;
    /* Pause symbol */
    border-style: double;
    border-width: 0px 0px 0px 30px;
}

#pauseToggle.paused {
    /* Play symbol */
    border-style: solid;
    border-width: 15px 0px 15px 30px;
}

#pauseToggle:hover {
    transition: 440ms all ease;
    opacity: 0.9;
}

.hidden {
	height: 375px;
	width: 375px;
	transition-duration: 0.5s;
    opacity: 0;
}

.krShown {
	height: 375px;
	width: 375px;
	transition-duration: 0.5s;
    opacity: 1;
}

.projectsShown {
	height: 550px;
	width: 375px;
	transition-duration: 0.5s;
    opacity: 1;
}

.project {
    text-decoration: none;
    padding: 16px 0px;
    padding-left: 16px;
}

a {
    text-decoration: none ;
}

a .project {
    color: #999;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.6) inset;
    -webkit-animation-duration:0.4s;
    -webkit-transition: all 0.4s;
    animation-duration:0.4s;
    transition: all 0.4s;
}

a .project:hover {
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.6);
    background-color: #313131;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to left, 
        rgba(0, 0, 0, 0),
        rgba(205, 205, 205, 0.55)
    );
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 18px;
    color: #ccc;
}

h2 {
    font-weight: bold;
    font-size: 21px;
    color: #bbb;
}

p {
    font-size: 16px;
    font-weight: normal;
}