@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
body {
    background: url('img/wallpaper.jpeg') no-repeat fixed center;
    background-size: cover;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", "Helvetica Neue",sans-serif;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}
#desktop {
    background: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}
#desktop>.folder {
    color: #FFF;
    font-weight: 500;
}
#selectionBox {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}
.selected {
    border: 2px solid #00f;
}
.selected-icon {
    outline: 2px solid #888;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 4px;
}
.selected-span {
    background-color: rgba(0, 180, 250, 0.7);
    border: none;
    border-radius: 3px;
    padding: none;
    width: auto;
}
.folder, .file {
    position: relative;
    width: 60px;
    margin: 18px 25px;
    cursor: pointer;
}
.folder span, .file span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.folder img, .file img {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
.folder div, .file div {
    display: flex;
}
.back {
    background-image: url(img/back-icon.png);
}
.forward {
    background-image: url(img/forward-icon.png);
}
.back, .forward {
    opacity: 95%;
    padding: 13px 16px;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #fff;
}
.back:hover, .forward:hover {
    background-color: #efefef;
}
.back:active, .forward:active {
    background-color: #e4e4e4;
}
.back:disabled, .forward:disabled {
    opacity: 30%;
    background-color: transparent;
}
.window {
    position: absolute;
    width: 700px;
    height: 450px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}
.window-header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.window-title {
    margin: auto;
    font-weight: 700;
    font-size: 15px;
    color: #444;
}
textarea, textarea::selected {
    border: none;
}
.website_iframe {
    width: 100%;
    height: 100%;
    border: none
}
.textfile {
    resize: none;
    outline: none !important;
    border: none;
    overflow: scroll;
}
.textfile>.window-footer, .website>.window-footer {
    display: none;
}
.window-header .window-controls {
    display: flex;
    gap: 4px;
    position: fixed;
}
.window-controls button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.window-controls .close { background: #ff5f56; }
.window-controls .minimize { background: #ffbd2e; }
.window-controls .maximize { background: #28c840; }
.window-content {
    flex: 1;
    overflow: auto;
    padding: 5px;
}
.window-footer {
    padding: 3px;
    padding-left: 8px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.breadcrumb {
    font-size: 11px;
    color: #666;
    letter-spacing: 0.33px;
    margin: 1px 0px 2px;
}
.breadcrumb-part:active {
    color: #000;
}
.breadcrumb_pointer {
    width: 9px;
    margin: 0px 0px -2px 3px;
}
.breadcrumb_icon {
    width: 18px;
    padding: 0px 0 0;
    margin: 0px 2px -4px;
}
.sidebar {
    width: 100px;
    border-right: 1px solid #ccc;
    padding: 10px;
}
.main-content {
    flex: 1;
    display: flex;
}
.textfile .window-navigation, .website .window-navigation {
    display: none;
}
.website .window-content, .exe .window-content {
    padding: 0px;
}
.window-navigation {
    display: flex;
    gap: 4px;
    padding: 8px;
    border: 1px solid #eee;
}

.aitify\.webloc {
}

.snake\.exe {
    width: 410px;
    height: 427px;
}

.exe img {
    height: 60px;
    width: 60px;
}
